body{

    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
li{
    display: inline-flex;
}

    li a{
        text-decoration: none;
        color: black;
        padding: 10px 20px;
       display: inline;
       font-weight: 700;

    }
    .icon{

    color: blue;
    }


.flexible{

    display: flex;
    padding-left: 10%;
   
}

.foodhub{
    width: 50%;

    
}

.foodhub img{
    width: 55%;
   
    
}

#order{
display: block;
margin: 0 auto;}

.orange-color{

  color: orange;
}
.order-now{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(tomato,orange);
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 1px 1px 10px orange;
}
.diet-chat{

line-height: 2;
}

h1{
    font-size: 30px;


}
.middle-banner{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: cover;
  
   
}
#contact{
    display: inline-block;
    margin-top: 10px;
}
















.recepis{

    text-align: center;
}

.some-recipe img{
    width: 100%;
    border-radius: 25px;
    
   
}

.some-recipe{

    width: 20%;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 30px;
  padding-bottom: 20px;
    margin-left: 7%;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;


}

